html {
  background: url("file://C:/Users/eliza/Nanodegree/portfolio_nano/img/main_background.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 1.6;
  z-index: -1;

}
body {
  z-index: 2;
 
}
article {
  position: relative;
}
h1  {
  font-size: 3em;
  font-family: 'Special Elite', cursive;
  color: #DCD0C0
  
}
h2 {
  font-size: 2em;
  font-family: 'Special Elite', cursive;
  color: #DCD0C0;
  padding: 10px;

}
/*
 *
 * Common
 *
 */

.grow:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/*
 *
 * Navigation
 *
 */

.navigation {
  position: fixed;
  right: 60px;
  top: 20px;
  z-index: 10;
  background-color: #c0B283;
}
.navigation ul {
  
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.navigation li {
  float: left;
}
.navigation li a {
  display: block;
  font-size: 16px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  padding: 8px;
  color: #373737;
}
/*
 *
 * Content
 *
 */

.container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 5px;
  margin-left: 20px;
  margin-right: 20px; 
}
/*
 *
 * Header
 *
 */

.heading {
  margin-right: 20px;
}

.header__img {
  float: left;
  filter:saturate(8);
  width: 20%;
  margin-left: 2em;
  margin-top: 3em;
  z-index: 2;
}
.name {
  z-index: 2;
  margin-bottom: 0px;
  position: relative;
  color: #DCD0C0;
  clear: both;
  float: right;
}
.n_title {
  position: relative;
  padding: 0px;
  z-index: 2;
  color: #DCD0C0;
  clear: both;
  float: right;
}

.home:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("file://C:/Users/eliza/Nanodegree/portfolio_nano/img/background_img.jpg");
  background-repeat: no-repeat;
  background-position: 60% 40%;
  background-size: cover;  
}

.home {
  position: relative;
  grid-column: span 3;
  grid-row: span 2;
  background-color: #373737;  
}
/*
 *
 * Aboutme
 *
 */

#me {
  display: flex;
  align-items: center;
  grid-column: span 3;
  grid-row: span 3;
  background-color: #f4f4f4;
}
 .aboutme h2 {
  text-align: center;
  margin-top: 20px;
  color: #DCD0C0;
}
 .aboutme  {
  grid-column: 1 / 3;
}

.aboutme p {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  justify-content: center;
  margin-left: 20px;
}
.information {
  font-family: 'Special Elite', cursive;
  display: flex;
  flex-wrap: wrap;
}
.pin_img {
  height: 100px;
  width: 100px;
}
.me_img {
  height: 300px;
  width: 300px;
}
/*
 *
 * Experience
 *
 */
#expertis {
  grid-column: span 3;
  grid-row: span 4;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  font-family: 'Oswald', sans-serif;
}
.project h2 , h3{
  color: #373737;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.project {
  background-color: #c0B283;
  grid-column: 2;

}
.project p{
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;

}
.img_project {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 200px;
  height: 180px;

}

.skills dl , dd {
  line-height: .9rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.skills {
  background-color: #DCD0C0;
  grid-column: 1;
}

.skills dt {
  font-weight: 700;
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.skills h2 , h3{
  color: #373737;
  margin-left: 20px;
}
/*
 *
 * courses
 *
 */
#courses {
  grid-column: span 3;
  grid-row: span 5;
  background-color: #373737;
}
.courses-info {
  grid-column: span 3;
  font-family: 'Special Elite', cursive;
  color: #DCD0C0;
}
.courses-info li {
  font-family: 'Oswald', sans-serif;
  color: #c0B283;
}
/*
 *
 * Footer
 *
 */
.foot {
  grid-column: span 3;
  grid-row: span 6;
  background-color: #c0B283;
  font-family: 'Special Elite', cursive;
  text-align: center;
}
/*
 *
 * Break point media screen for 601-1050 px
 *
 */
@media only screen and (min-width: 601px) and (max-width: 1050px){
/*
 *
 * Heading
 *
 */
  .home:before {
    content: ' ';
    position: absolute;
    left: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(file://C:/Users/eliza/Nanodegree/portfolio_nano/img/background_img.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
  }
  .name {
    z-index: 2;
    margin-left: 10px;
    position: relative;
    line-height: 1;
  }
/*
 *
 * Aboutme
 *
 */
  .aboutme p {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .information {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Special Elite', cursive;
    margin-top: 50px;
    margin-left: 5px;
  }

}
/*
 *
 * Break point media screen for less than 600px
 *
 */
@media only screen and (max-width: 600px) {
  html {
    background: url("file://C:/Users/eliza/Nanodegree/portfolio_nano/img/main_background.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 1.6;
    z-index: -1;
    margin: 10px;
  }
/*
 *
 * Navigation
 *
 */
  .navigation {
    position: absolute;
    width:70%;
    right: 50px;
    box-shadow:0px 1px 1px ;
    border-radius:2px;
    background:#303030;
  }
  .navigation ul {
    display: block; 
  }
  .navigation li {
    margin:0px 0px 0px ;
    float:left;
    list-style:none;
    font-size:14px;
  }

 .navigation  li a {
    color:#F4F4F4;
    transition:color linear 0.15s;
  }

/*
 *
 * Content
 *
 */
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3px;
  }
/*
 *
 * Aboutme
 *
 */
  .aboutme {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  .aboutme p {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
  }
  .header__img {
    filter:saturate(8);
    width: 30%;
    position: relative;
    margin-left: .45rem;
    margin-top: 1rem;
    z-index: 2;
  }
   .home:before {
    content: ' ';
    position: absolute;
    left: 0px;
    top: -30px
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(file://C:/Users/eliza/Nanodegree/portfolio_nano/img/background_img.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
  }
   .information {
    font-family: 'Special Elite', cursive;
    margin: 0px;
  }
  .information p {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    width: 60%;
    overflow-wrap: break-word;
  }
  #me {
    display: block;
    grid-column: 1;
    grid-row: 2 / 3;
    background-color: #f4f4f4;
  }
  .me_img {
    height: 200px;
    width: 200px;
  }

/*
 *
 * Experience
 *
 */
  #expertis {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr ;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
  }

  .home {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .name {
    z-index: 2;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    line-height: 2;
  }

  .project {
    grid-column: 1 / 1;
    grid-row: 5 / 5;
    background-color: #c0B283;
    font-size: 12px;
  }

  .project p{
    font-size: 12px;
  }

  .skills {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }
  .skills h2, h3 {
    color: #373737;
    margin-left: 20px;
    margin-bottom: 0px;
  }

/*
 *
 * Follow-me
 *
 */
  #courses {
    grid-column: 1 / 1;
    grid-row: 6 / 6;
    background-color: #373737;
  }
  .courses-info li {
    font-family: 'Oswald', sans-serif;
    color: #c0B283;
    margin-left: 10px;
}
/*
 *
 * Footer
 *
 */
  .foot {
    grid-column: 1 / 1;
    grid-row: 7 / 7;
  }
}